<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>608295731980-4gie0dp7sp8eibin489s5c5mm7qmb1bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608295731980-4gie0dp7sp8eibin489s5c5mm7qmb1bv</string>
	<key>API_KEY</key>
	<string>AIzaSyC2EsIRLL11LFHdN1LIRE3Y1GfdyOqG5fE</string>
	<key>GCM_SENDER_ID</key>
	<string>608295731980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.cellarics-labs.sondeln-sma</string>
	<key>PROJECT_ID</key>
	<string>sondeln-sma-6089f</string>
	<key>STORAGE_BUCKET</key>
	<string>sondeln-sma-6089f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:608295731980:ios:0e2e60fca40452da</string>
	<key>DATABASE_URL</key>
	<string>https://sondeln-sma-6089f.firebaseio.com</string>
</dict>
</plist>